#welcome {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

.lead {
    font-size: 21px;
}

input{
    width: 300px;
    padding: 10px;
    font-size: 16px;
}

dt {
    font-size: 18px;
}

dd {
    margin: 5px 20px;
}
