!!! 5
%html{lang: 'en'}
  %head
    %title FAExport
    %meta{charset: 'utf-8'}/
    %meta{name: 'description', content: 'Quick and simple access to FA data'}
    %link{href: '/css/faexport.css', rel: 'stylesheet', type: 'text/css'}
  %body
    #welcome
      %h1 FAExport
      %ul#menu
        %li
          %a{href: '/'} Home
        %li
          %a{href: '/docs'} Docs
        %li
          %a{href: 'https://github.com/Deer-Spangle/faexport'} Code
        %li
          %a{href: 'mailto:deer@spangle.org.uk'} Contact
      ~ yield
    %script{type: 'text/javascript', src: 'https://code.jquery.com/jquery-2.1.1.min.js'}
    %script{type: 'text/javascript', src: '/js/faexport.js'}
